* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Roboto", sans-serif;
  --hue: 240;
  --bg-black: hsla(calc(var(--hue) - var(--hue)), 0%, 0%, 1);
  --fc-white: hsla(var(--hue), 9%, 89%, 1);
  --fc-placeholder: hsla(var(--hue), 6%, 51%, 1);
  --fc-red: hsla(calc(var(--hue) + 115), 91%, 66%, 1);
  --fc-user-empty: hsla(calc(var(--hue) - 51), 4%, 32%, 1);
  --bg-input: hsla(calc(var(--hue) - 49), 65%, 7%, 1);
  --bg-button: hsla(calc(var(--hue) - 45), 91%, 25%, 1);
  --bg-table: hsla(calc(var(--hue) - 49), 31%, 42%, 1);
  --bg-table-head: hsla(calc(var(--hue) - 45), 89%, 14%, 1);
  --bg-user-odd: hsla(calc(var(--hue) - 45), 61%, 6%, 0.5);
  --bg-user-even: hsla(calc(var(--hue) - 48), 65%, 7%, 1);
  --bg-user-empty: hsla(calc(var(--hue) - 48), 63%, 3%, 1);
  --br-input-focus: 2px solid hsla(calc(var(--hue) - 49), 31%, 42%, 1);
  --br-table: 1px solid hsla(calc(var(--hue) - 49), 31%, 42%, 1);
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  background: var(--bg-black);
  color: var(--fc-white);
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button {
  background: var(--bg-button);
  cursor: pointer;
}

#app {
  padding: 2rem;
  max-width: 1120px;
  margin-inline: auto;
  margin-block: 11.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 8.7rem;
}

header .search {
  max-width: 64rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

header .search input {
  padding: 1.6rem;
  width: 46.2rem;
  border-radius: 0.5rem;
  color: var(--fc-placeholder);
  background: var(--bg-input);
  border: 2px solid var(--bg-black);
  line-height: 100%;
}

header .search input:focus {
  border: var(--br-input-focus);
}

header .search button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  color: var(--fc-white);
  text-transform: uppercase;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

header .search button:hover {
  background: var(--fc-white);
  color: var(--bg-button);
}

header .search button:hover svg path {
  fill: var(--bg-button);
}

div.tableBox {
  width: 100%;
  border: var(--br-table);
  border-radius: 1.2rem;
  min-width: 85rem;
  overflow-y: hidden;
}

table tbody.tableContent {
  display: flex;
  flex-direction: column;
  max-height: 59rem;
  overflow-y: overlay;
}

table {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--fc-white);
}

table tbody tr {
  height: 10.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  background: var(--bg-user-odd);
}

table tbody.tableContent tr:nth-child(even) {
  border-top: var(--br-table);
  border-bottom: var(--br-table);
  background: var(--bg-user-even);
}

table tbody.tableContent::-webkit-scrollbar {
  width: 1.2em;
}

table tbody.tableContent::-webkit-scrollbar-button {
  height: 1rem;
}

table tbody.tableContent::-webkit-scrollbar-thumb {
  border-inline: 0.8rem solid transparent;
  border-radius: 1rem ;
  background-clip: padding-box;
  background-color: var(--bg-table);
}

table tbody td {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 4rem;
}

table tbody tr td.user {
  height: 10.4rem;
  min-width: 29rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.6rem;
}

table tbody.tableContent td.user img {
  height: 5.6rem;
  object-fit: cover;
  border-radius: 50%;
}

table tbody.tableContent td.user span {
  font-weight: 400;
}

table tbody.tableContent td.action button {
  background: none;
  border: none;
  color: var(--fc-red);
  cursor: pointer;
}

table tbody.tableContent td.action button:hover {
  text-decoration: underline;
}

.emptyBox {
  background-color: var(--bg-user-empty);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--fc-user-empty);
  padding-top: 21rem;
  padding-bottom: 29.8rem;
}
